/* General */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


/* Header */

header {
	margin-top: 0;
	height: 100vh;
	background-color: #FB3D00;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

header h1 {
	font-family: 'Work Sans', sans-serif;
	font-size: 12vmin;
	text-align: center;
	color: #FFFFFF;
	margin-bottom: 0;
}

header h2 {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 3.5vmin;
	font-weight: bold;
	text-align: center;
	color: #FFFFFF;
	margin-top: 2vmin;
}

header p {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 2.5vmin;
	font-style: italic;
	text-align: center;
	color: #FFFFFF;
	margin-top: 4vmin;
}

#domains {
	display: flex;
	margin: 1vmin 1vmin 1.5vmin;
}

.domain-with-name {
	width: 15vmin;
	text-align: center;
}

#domains p {
	font-size: 1.5vmin;
	font-weight: lighter;
	font-style: normal;
	margin-top: 1vmin;
}

#toInterface img {
	width: 10vmin;
	height: 10vmin;
	margin-top: 3vmin;
}


#interface {
	height: 100vh;
	display: flex;
	flex-direction: row;
}

/* Sidebar */

#sidebar {
	width: 20vw;
	min-width: 200px;
	background-color: #F0F0F0;
	padding: 10px 10px 10px 10px;
	text-align: center;
}

#instruction {
	color: #FB3D00;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 2.5vmin;
	margin-bottom: 5vmin;
	margin-top: 10%;
}

.slider-wrapper {
	margin: 0 10% 5vmin;
	position: relative;
	width: 80%;
	display: flex;
}

.coutDeLaVie {
	vertical-align: middle;
}

.coutDeLaVie .range-handle {
	background-color: #FBB917;
	background: url('../media/coutDeLaVie.png');
	background-size: 30px;
}

.coutDeLaVie .range-quantity {
	background-color: #FBB917;
}

.transport .range-handle {
	background-color: #3090c7;
	background: url('../media/transport.png');
	background-size: 30px;
}

.transport .range-quantity {
	background-color: #3090c7;
}

.cadreDeVie .range-handle {
	background-color: #4AA02C;
	background: url('../media/cadreDeVie.png');
	background-size: 30px;
}

.cadreDeVie .range-quantity {
	background-color: #4AA02C;
}

.sorties .range-handle {
	background-color: #990012;
	background: url('../media/sorties.png');
	background-size: 30px;
}

.sorties .range-quantity {
	background-color: #990012;
}

.culture .range-handle {
	background-color: #842DCE;
	background: url('../media/culture.png');
	background-size: 30px;
}

.culture .range-quantity {
	background-color: #842DCE;
}

button {
	font-size: 2vmin;
	font-weight: bold;
	font-family: 'Roboto Condensed',serif;
	line-height: 1.8;
	appearance: none;
	box-shadow: none;
	border-radius: 0;
	cursor: pointer;
	margin-top: -1vmin;
}

button:focus {
	outline: none;
}

section.viewMap button {
	color: #fff;
	background-color: #FB3D00;
	border: none;
	border-radius: 5px;
	box-shadow: 0 5px #9D2600;
}

section.viewMap button:active {
	box-shadow: 0 1px #9D2600;
	transform: translateY(5px);
}

#info {
	color: #FB3D00;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1.8vmin;
	font-style: italic;
	margin-bottom: 5vmin;
	margin-top: 15%;
	height: 40vh;
}

#quartierIdeal {
	font-size: 2.5vmin;
	font-weight: bold;
	font-style: normal;
	margin: 0;
}

#index-sidebar {
	font-size: 2.5vmin;
    font-family: sans-serif;
    font-weight: bold;
	text-align: center;
}

#details {
	display: inline-block;
	text-align: center;
}

#infos, .domain {
	color: #303030;
	font-size: 2.1vmin;
	text-align: left;
}

#linkPlus {
	margin-top: -5vh;
	bottom: 7vh;
    margin-bottom: 0;
}

#linkPlus p {
	color: #FB3D00;
	text-align: center;
}

#linkPlus a:link, #linkPlus a:visited {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 2.4vmin;
	color: #FB3D00;
	text-decoration: none;
}

#linkPlus a:hover, #linkPlus a:active {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 2.7vmin;
	color: #FB3D00;
	text-decoration: none;
	font-weight: bold;
}


/* Map */

#map {
	width: 100%;
	height: 100%;
}

#legend {
    color: #FB3D00;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    font-weight: bold;
    margin-left: 3vmin;
    width: 8vmin;
}

#legend p {
    font-size: 5vmin;
    margin-top: -1.5vmin;
    margin-bottom: -0.5vmin;
}

#infobox h2 {
	color: #303030;
    font-size: 2.2vmin;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
	text-align: center;
}

#index {
	font-size: 2.5vmin;
    font-family: sans-serif;
    font-weight: bold;
	text-align: center;
}

.domain {
	color: #303030;
	margin-bottom: 1vmin;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1.5vmin;
}

.domain img {
	vertical-align: middle;
	width: 3vmin;
	height: 3vmin;
	margin-right: 1vmin;
}


/* Credits */

#credits {
	font-family: 'Roboto Condensed', sans-serif;
	color: #FFFFFF;
	height: 100vh;
	background-color: #FB3D00;
	margin-bottom: 0;
}

#columns {
	width: 100%;
    float: left;
}

#details-index {
	font-size: 1.5vmin;
	text-align: center;
    width: 33%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#details-index h2 {
	font-size: 3.5vmin;
	margin-bottom: 1vmin;
}

.details-domain img {
    text-align: center;
}

#aPropos {
    width: 33%;
    float: left;
    display: flex;
    flex-direction: column;
}

#aPropos h2 {
	font-size: 3.5vmin;
	margin-bottom: 8vmin;
    text-align: center;
}

#aPropos p {
    width: 90%;
    margin: 3vmin auto 3vmin;
    font-size: 2vmin;
    text-align: justify;
}

#copyright p {
	font-size: 2vmin;
	font-style: italic;
	margin-top: 4vmin;
	font-weight: bold;
    text-align: center;
}

#sources {
	font-size: 1.6vmin;
	text-align: center;
    width: 33%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#sources h2 {
	font-size: 3.5vmin;
	margin-bottom: 1vmin;
}

.sources-domain img {
	margin-top: 0;
	margin-bottom: 0;
    text-align: center;
}

.source p {
    margin: 0;
}

.source:link, .source:visited {
	color: #FFFFFF;
	text-decoration: none;
}

.source:active, .source:hover {
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}
